In [2]:
#print 0 to 20 by using range
for i in range(0,21):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
#Print range of 10 to 20 
for i in range(10,21):
    print(i, end=' ')

10 11 12 13 14 15 16 17 18 19 20

In [11]:
#print number of items in list by using 'len'
list2=[10,20,14,55,43,87,76]
length=len(list2)
print(list2)
print('Number of items in the list2:',length)

[10, 20, 14, 55, 43, 87, 76]
Number of items in the list2: 7

In [15]:
AI="ARTIFICIAL INTELLIGENCE"
print(AI)
for i in AI:
    print(i)

ARTIFICIAL INTELLIGENCE
A
R
T
I
F
I
C
I
A
L

I
N
T
E
L
L
I
G
E
N
C
E

In [16]:
print('-Your name-')
print('-Your age-')
print('-Your Profession-')

-Your name-
-Your age-
-Your Profession-

In [17]:
tuple1=(1,'Welcome',2,'Hope')
print(tuple1)

(1, 'Welcome', 2, 'Hope')

In [18]:
tuple1=(0,1,2,3)
tuple2=('python','Hope')
tuple3=(tuple1,tuple2)
tuple3

((0, 1, 2, 3), ('python', 'Hope'))

In [24]:
#Print odd numbers in the list
num=[20,10,16,19,25,1,276,188]
print(num)
for i in num:
    if i%2!=0:
        print(i,'is odd')

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd
25 is odd
1 is odd

In [25]:
#Print even numbers in the list
num=[20,10,16,19,25,1,276,188]
print(num)
for i in num:
    if i%2==0:
        print(i,'is even')

[20, 10, 16, 19, 25, 1, 276, 188]
20 is even
10 is even
16 is even
276 is even
188 is even